<mat-card class="topic-form">
  <mat-card-header>
    <mat-card-title>Create A Topic</mat-card-title>
  </mat-card-header>
  <mat-form-field appearance="fill">
    <mat-label>Topic title</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Topic subtitle</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Topic image</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Topic description</mat-label>
    <input matInput />
  </mat-form-field>
  <button
      mat-raised-button
      color="primary"
    >
      Save Topic
    </button>
</mat-card>
