<mat-card class="topic-form">
  <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Create A Topic</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>Topic title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Topic subtitle</mat-label>
      <input matInput formControlName="subTitle" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Topic image</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Topic description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <button [disabled]="!topicForm.valid" mat-raised-button color="primary">Save Topic</button>
  </form>
</mat-card>
