<mat-card class="topic-card">
  <mat-card-header>
    <mat-card-title>Topic Title</mat-card-title>
    <mat-card-subtitle>Topic Subtitle</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Topic description Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Id odit, maiores aliquam itaque facilis blanditiis aliquid repellat
      cumque commodi quos, iure nam repudiandae corrupti eaque earum harum
      voluptatum numquam cum?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/topic/1">OPEN</button>
  </mat-card-actions>
</mat-card>
