<mat-card class="topic">
  <h1>Topic title</h1>
  <h2>Subtitle</h2>
  <!-- <img
    class="topic__image"
    src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    alt="Photo of a Shiba Inu"
  />-->
  <p>Description</p>
</mat-card>
<div class="materials">
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
  <app-material></app-material>
</div>
